.white-text {
  color: white;
}
.city {
  &.fixed-content {
    position: fixed;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    bottom: 0;
  }
}
.small-text {
  font-size: 12px;
  padding-top: 16px;
}
.references {
  margin-top: 64px;
}
.logo {
  img {
    max-width: 300px;
  }
  &.header-logo {
    margin: 16px 0;
  }
}
.page-content-start {
  margin-top: 64px;
}
.side-icon-fixed {
  text-align: left;
  img {
    max-width: 150px;
  }
}
.footer-logos {
  position: fixed;
  bottom: 10px;
  right: 0;
}
.page-1 {
  background-image: url('../img/Rio.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.page-3 {
  height: 100%;
  margin: 0;
  background-image: url('../img/Santiago.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.page-5 {
  background-color: lightblue;
  min-height: 120vh;
}

.extra-height {
  min-height: 200vh;
}

.page-7,
.page-9 {
  background-color: lightblue;
  h2 {
    color: rgb(61, 187, 164);
  }
}

.full-height {
  min-height: 100vh;
  line-height: 50px;
}


.fade-out {
  animation: fadeOut 0.5s forwards;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.animate-img {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  animation: moveFromTop 1s ease-out forwards;
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fixed {
  position: fixed;
  top: 10px;
  z-index: -1;
}

.fixed-map-data {
  position: fixed;
  top: 150px;
  z-index: 10;
}

.fixed-img {
  position: fixed;
  top: 10px;
  z-index: 10;
  width: 570px;
  right: 100px;
}

.page-7 {
  padding-bottom: 64px;
}

.page-2 {
  .icon {
    p {
      color: rgb(171, 67, 161);
    }
  }
}

.page-4,
.page-6,
.page-8 {
  .icon {
    p {
      color: rgb(61, 187, 164);
    }
  }
}

.bar-container {
  display: flex;

  span {
    margin-right: 5px;
    height: 20px;

  }

  .width-100 {
    width: 40%;
  }

  .width-65 {
    width: 32.5%;
  }

  .width-60 {
    width: 30%;
  }

  .width-40 {
    width: 20%;
  }

  .width-35 {
    width: 17.5%;
  }

  .width-20 {
    width: 10%;
  }

  .width-10 {
    width: 5%;
  }

  .width-9 {
    width: 4.5%;
  }

  .width-8 {
    width: 4%;
  }

  .grey {
    background-color: grey;
  }

  .pink {
    background-color: pink;
  }

  .orange {
    background-color: orange;
  }

  .cyan {
    background-color: cyan;
  }

  .gold {
    background-color: gold;
  }
}
